body{
padding: 0;
margin: 0;
box-sizing: border-box;


}







.bigBanner{
height: 55vh;
width: 100%;

}

.bannerCont{
height: 100%;
width: 100%;
/* background-color: aqua; */


background-image: url("../assets/newBanner.png");
/* background-image: url("../assets/head6.jpg"); */


background-size: 100% 100%;
background-position: center;



}

/* .bannerCont img{
height: 100%;
width: 100%;

} */




